html * {
    font-family: Arial;
    background-color: #DBBEA1;
    padding-left: 2%;
}

.top-of-screen {
    width: 100%
}

h1 {
    color: #3F292B;
    text-align: center;
}

h2 {
    color: white;
}

hr {
    width: 100%;
    color: #3F292B;
}

p {
  font-size: large;
}

b {
  font-size: 20px;
}
 

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    height: 250px;
    width: 150px;
    
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    background-color: white; /* Green background */
    border: 1px solid #3F292B; /* Green border */
    color: #3F292B; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    height: 50px;
    width: 90px;
    border-radius: 10px;
    text-align: center;
    margin-left: 7px;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #D34F73;
    color: white;
    border-color: white;
  }

  button {
    border-radius: 10px;
    background-color: white;
  }

  input {
    background-color: white;
    width: 30px;
  }
  
  .custom-shots {
    width: 95%;
    height: 30px;
    color: white;
    background-color: #A37B73;
    border-radius: 15px;
    border: thin solid white;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
  }
  
  select {
    width: 100%;
    height: 45px;
    color: white;
    background-color: #A37B73;
    border-radius: 15px;
    border-color: white;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  option {
    background-color: #A37B73;
  }

  .addToBag {
    width: 100%;
    height: 45px;
    color: white;
    background-color: #D34F73;
    border-radius: 15px;
    border: thin solid white;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    position: sticky;
    bottom: 0;
  }

  .addToBag>p{
    font-size: small;
    text-align: left;
    background-color: #D34F73;
  }

  .addToBag>p>span {
    float: right;
    background-color: #D34F73;
  }

  #desc {
    font-size: 14px;
  }
